HackUKFrontEnd/my-app/node_modules/
HackUKFrontEnd/my-app/node_modules
HackUKFrontEnd/my-app/node_modules/.bin/browserslist
HackUKBackend/__pycache__/inventory.cpython-312.pyc
HackUKBackend/__pycache__/inventory.cpython-312.pyc
HackUKBackend/__pycache__/inventory.cpython-312.pyc
HackUKBackend/__pycache__/prompts.cpython-312.pyc
HackUKBackend/__pycache__/utils.cpython-312.pyc
HackUKBackend/__pycache__/llms.cpython-312.pyc
