.vscode
.venv
.env
plucky-environs-437715-i8-65543558c67b.json
HackUKFrontEnd/my-app/node_modules/
HackUKFrontEnd/my-app/node_modules
HackUKFrontEnd/my-app/node_modules/.bin/browserslist
# Ignore the entire node_modules directory
# Ignore node_modules directory
node_modules/

# Ignore the specific path you mentioned
HackUKFrontEnd/my-app/node_modules/.bin/acorn

# Ignore all files in .bin directories within node_modules
**/node_modules/.bin/*

# Ignore node_modules in any subdirectory
**/node_modules/**
HackUKBackend/__pycache__/inventory.cpython-312.pyc
HackUKBackend/__pycache__/inventory.cpython-312.pyc
HackUKBackend/__pycache__/inventory.cpython-312.pyc
HackUKBackend/__pycache__/prompts.cpython-312.pyc
HackUKBackend/__pycache__/utils.cpython-312.pyc
HackUKBackend/__pycache__/llms.cpython-312.pyc
HackUKBackend/__pycache__/recipes.cpython-312.pyc
HackUKBackend/__pycache__/shopping.cpython-312.pyc
